
.sideNavBar{
    background-color: navy;
    position: fixed;
    top: 175px;
    left: 0px;
    width: 250px;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}
.sideNavBar a{
    color: black;
    padding: 20px;
    display: block;
    font-family: sans-serif;
    font-size: 18pt;
    text-decoration: none;
}
.sideNavBar a:hover{
    background-color: orange;
}